body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

.hidden {
  display: none;
}


#quiz, #result {
  margin-top: 20px;
}

#timer {
  font-weight: bold;
  margin-bottom: 10px;
}